html {
  font-size: 15px; /* px means 'pixels': the base font size is now 15 pixels high  */
  font-family: 'Ubuntu', sans-serif; /*this should be the rest of the output you got from Google fonts */
  background-color: #ffffff; /*Sets Background-color to set value.  */
}

body {
  margin: 0px;
}

button {
  background-color: #000000;  /* Black */
  border: none;
  color: #ffffff;
  padding: 10px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

.topNav {
  background-color: #000000;
  overflow: hidden;
}

.header {
  margin: 25px 0px; /*top-bottom , right-left*/
  color: #ffffff;
  text-align: center;
}

#snapshotContainer {
  margin: 50px auto auto; /*top, right-left, bottom*/
  width: 60%;
  height: auto; /*the element will have flexible height i.e. its height will depend upon the height of children elements of it*/
  overflow: auto; /*so the size of the container is alway the size of the longest content*/
}

#videoStream {
  margin: auto;
  float: left;
  width: 520px;
}

#snapshotCanvas {
  width: auto;
  margin: 0px 0px 0px 550px; /*You need to use a margin so the content does not float under the first div*/
}

#videoElement {
  width: 500px;
  height: 375px;
  background-color: #666;
  border: 10px #333 solid;
}

#canvasElement {
  width: 500px;
  height: 375px;
  background-color: #666;
  border: 10px #333 solid;
}

#snapshot {
  margin: 15px 0px 0px 0px;  /*Margin-order: top, right, bottom, left (clockwise)*/
}

#upload {
  margin: 15px 0px 0px 0px; /*Margin-order: top, right, bottom, left (clockwise)*/
}

#loadTest {
  margin: 0px 0px 0px 10px;
}

#localContainer {
  margin: 50px auto auto; /*top, right-left, bottom */
  width: 500px;
  height: auto; /*the element will have flexible height i.e. its height will depend upon the height of children elements of it*/
}
